@import '../../scss/variables.scss';

.cartItem {
  display: grid;
  min-height: 70px;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 40px 30px;
  overflow: hidden;
  border-radius: 10px;
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../../../public/img/assort/bck-product-block.jpg);
  }
  p {
    margin: 2px 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 12px;
    text-align: end;
  }
  span {
    align-self: center;
    margin: 0px 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 16px;
    text-align: end;
  }

  .itemcount {
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 20px;
    button {
      background-color: $highlighted;
      border: none;
      font-size: 15px;
      &:active {
        filter: brightness(50%);
      }
      &:disabled {
        background-color: $background-main;
        border: 1px solid $text-main;
      }
    }
    span {
      font-size: 18px;
      color: $text-main;
    }
  }
}
