@import '../../scss/variables.scss';

.menuNavigation {
  width: 200px;
  ul {
    margin: 40px 0 0 0;
    padding: 0%;
    li {
      cursor: pointer;
      list-style: none;
      margin-bottom: 5px;
      transition: color 0.2s ease-in-out;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        color: $highlighted;
      }
      &:first-of-type,
      &:nth-child(4),
      &:nth-child(9),
      &:nth-child(13) {
        margin-bottom: 20px;
      }
    }
    .active {
      color: $highlighted;
    }
  }
}
