@import '../../scss/variables.scss';
.card {
  height: 330px;
  background-color: $background-second;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 200px 60px 70px;
  grid-template-columns: minmax(200px 1fr);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(../../../public/img/assort/bck-product-block.jpg);
  }

  h3 {
    margin: 0%;
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .shortDescription {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    gap: 8px;
    div:first-child {
      display: flex;
      flex-direction: column;
      p {
        margin: 0%;
        font-size: 12px;
      }
      span {
        width: max-content;
        font-size: 22px;
        color: $highlighted;
        font-weight: 600;
      }
    }
    div:nth-child(2) {
      display: flex;
      justify-content: center;
      gap: 10px;
      img[alt='Особенность'] {
        width: 25px;
        height: 25px;
        background-image: none;
      }
    }
    .add {
      position: relative;
      min-width: 40px;
      height: 40px;
      background-color: $highlighted;
      border-radius: 50%;
      border: none;
      &::before {
        content: '';
        width: 40px;
        height: 40px;
        background-color: $background-second;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
      }
      &::after {
        content: '+';
        font-size: 35px;
        line-height: 20px;
        position: absolute;
        top: 11px;
        left: 9.5px;
      }
      &:hover {
        &::before {
          transform: scale(90%);
        }
      }
    }
  }
}
