@import '../../scss/variables.scss';

.overlay {
  z-index: 9999;
  position: fixed;
  inset: 0 0 0 0;
  background-color: $background-trans;
}

.modal {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  width: 100%;
  background: $background-second;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

.wrapper {
  padding: 20px;
}

.header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-main;
  font-size: 18px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  background: $background-main;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    bottom: unset;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
  }
}
