@import '../../scss/variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $background-trans;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity display;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.modal_window {
  z-index: 20;
  position: fixed;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex: 1 1 320px;
  gap: 20px;
  background-color: $background-second;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition-property: opacity transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  @media (max-width: 500px) {
    width: 90%;
  }
}
.terms_container {
  width: 80%;
  min-width: 320px;
  height: 90%;
  background-color: $background-second;
  overflow: scroll;
  border-radius: 20px;
  @media (max-width: 1024px) {
    width: 100%;
    height: 100%;
  }
}

.text_block {
  padding: 50px;
  ol {
    width: 100%;
    padding: 0;
  }
  .heading {
    font-size: 20px;
    font-weight: 600;
  }
  ul {
    padding: 0 30px;
    list-style: none;
  }
  @media (max-width: 1024px) {
    padding: 30px;
    ul {
      padding: 0 10px;
      list-style: none;
    }
  }
}

.buttons_container {
  display: flex;
  gap: 20px;
}
.showModal {
  visibility: visible;
  opacity: 1;
  .modal_window {
    opacity: 1;
    transform: translateY(0px);
  }
}
.message {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.link {
  margin: 0;
  text-align: center;
  a {
    color: $highlighted;
  }
}
.input {
  padding-left: 10px;
    margin-bottom: 20px;
  width: 100%;
  height: 50px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  background-color: $background-main;
  color: $text-main;
}
.error {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: red;
}