@import '../../scss/variables.scss';

.forgot_password_wrapper {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  h2 {
    margin: 0 0 20px;
    text-align: center;
  }
  p:nth-of-type(1) {
    text-align: center;
    margin: 0 0 10px;
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, max-content);
    grid-gap: 15px;
    margin-bottom: 15px;
    input[type='email'] {
      background-color: $background-main;
      box-shadow: $boxShadow;
      border: none;
      outline: none;
      height: 35px;
      width: 100%;
      font-size: 16px;
      border-bottom: 2px solid $text-second;
    }
    .error {
      color: red;
      font-size: 14px;
    }
  }
  .return_link {
    margin-bottom: 20px;
    width: max-content;
    align-self: end;
    font-size: 22px;
  }
}
