@import url('../../scss/variables.scss');

.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.auth_methods {
  margin: 5px 0 10px;
  display: flex;
  gap: 24px;
  justify-content: start;
  align-items: center;
}

.icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.hint {
}

.link {
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}
