@import '../../scss/variables.scss';

.check {
  margin: 40px 0 0 0;
  position: relative;
  gap: 10px;
  min-width: 280px;
  max-width: 360px;
  height: 600px;
  box-shadow: $boxshadow;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 10px;
  h2 {
    text-shadow: $textShadow;
    text-indent: 15px;
  }
  .itemsBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    gap: 10px;
  }
  .total {
    margin: 10px 0 0 0;
    width: 100%;
    height: max-content;
    border-top: 2px solid $text-main;
    font-size: 14px;
    p {
      position: relative;
      margin: 10px 0%;
      span {
        position: absolute;
        right: 0;
      }
    }
  }
  .orderButton {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -40px;
    left: 0;
    background-color: $highlighted;
    border: none;
    border-radius: 10px;
    &:active {
      filter: brightness(50%);
      transform: translateY(2px);
    }
  }
}
