@import '../../scss/variables.scss';

.check {
  margin: 0;
  position: relative;
  gap: 10px;
  width: 300px;
  max-height: 600px;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 10px;
  grid-column: 3/4;
  grid-row: 2/3;
  @media (max-width: 820px) {
    grid-column: 1/2;
    grid-row: auto;
  }
  h2 {
    text-shadow: $textShadow;
    text-indent: 15px;
  }
  .itemsBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    gap: 10px;
    .empty {
      margin: auto;
      img {
        width: 100%;
        height: 30px;
      }
      p {
        text-align: center;
      }
    }
  }
  .total {
    margin: 10px 0 10px 0;
    width: 100%;
    height: max-content;
    border-top: 2px solid $text-main;
    font-size: 14px;
    p {
      position: relative;
      margin: 10px 0%;
      span {
        position: absolute;
        right: 0;
      }
    }
  }
  .orderButton {
    position: relative;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -40px;
    left: 0;
    background-color: $highlighted;
    border: none;
    border-radius: 10px;
    &:active {
      filter: brightness(50%);
      transform: translateY(2px);
    }
    &:hover {
      img {
        right: 20px;
      }
    }
    img {
      position: absolute;
      top: 5px;
      right: 30px;
      transform: scaleX(-100%);
      transition: right 0.2s ease-out;
    }
  }
}
