@import '../../scss/variables.scss';

.check {
  margin: 0;
  position: relative;
  gap: 10px;
  width: 300px;
  max-height: 600px;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 10px;
  img[alt='Clear cart'] {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 24px;
    opacity: 50%;
    transition: opacity 0.2s ease-in;
    cursor: pointer;
    &:hover {
      opacity: 100%;
    }
  }
  h2 {
    text-shadow: $textShadow;
    text-indent: 15px;
  }
}
