@import '../../scss/variables.scss';

.deliveryRegion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: -50px;
  height: 40px;
  width: 360px;
  font-weight: 800;
  font-size: 18px;
  margin-left: 50px;
  padding: 0 10px;
  color: $text-main;
  user-select: none;
  background-color: $highlighted;
  cursor: pointer;
  z-index: 6;
  @media (max-width: 820px) {
    left: calc(50% - 230px);
  }
  svg {
    margin-left: 5px;
    height: 15px;
    transform: rotate(180deg);
    cursor: pointer;
  }
  .optionsList {
    position: absolute;
    top: calc(100%);
    left: 0px;
    width: 100%;
    background-color: $background-second;
    transform-origin: top;
    animation: popUp 0.2s ease-out;
    user-select: none;
    max-height: calc(26 * 4);
    overflow: auto;
    p {
      padding: 10px;
      margin: 0;
      font-size: 16px;
      height: 100%;
      cursor: pointer;
      &:hover {
        background-color: $highlighted;
      }
    }
    .active {
      background-color: $highlighted;
      transition: 0.2s ease-in-out;
    }
  }
}

@keyframes popUp {
  0% {
    opacity: 0%;
    transform: scaleY(0%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
