@import '../../scss/variables.scss';

.menu {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: $background-trans;
  visibility: hidden;
  transform: scaleY(0%);
  transition: visibility 0.2s ease-in-out, transform 0.2s ease-out;
  img {
    width: min-content;
  }
  a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    text-shadow: $boxShadow;
    &:first-of-type {
      text-shadow: $textShadow;
    }
  }
}
.openMenu {
  visibility: visible;
  transform: scaleY(100%);
}
