@import './variables.scss';

* {
  font-family: 'Montserrat', sans-serif;
  color: $text-main;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #e6007e #071b2c;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #071b2c;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e6007e;
    border-radius: 10px;
    border: 0px solid #071b2c;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-main;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .menuBanner {
      width: 100vw;
      min-height: 150px;
      max-height: 300px;
      object-fit: cover;
    }
    .menuWrapper {
      position: relative;
      margin: auto;
      max-width: 1440px;
      padding: 0 20px;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      @media (max-width: 820px) {
        grid-template-columns: 1fr 3fr;
      }
      @media (max-width: 490px) {
        grid-template-columns: 1fr;
        padding: 0;
      }
      .assortment {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-template-rows: repeat(auto-fit, 330px);
        gap: 20px;
        justify-items: center;
        margin: 0 20px;
      }
    }
    .cart {
      width: 100%;
      height: 100vh;
      margin: 130px 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      grid-template-rows: min-content;
      justify-items: center;
      align-items: flex-start;
    }
  }
}
