@import './variables.scss';

* {
  font-family: 'Montserrat', sans-serif;
  color: $text-main;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-main;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .banner {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .catalogWrapper {
      position: relative;
      margin: auto;
      padding: 0 20px 0 50px;
      max-width: 1600px;
      height: 100%;
      display: grid;
      grid-template-columns: 200px 3fr 1fr;
      .deliveryRegion {
        position: absolute;
        left: 0;
        top: -60px;
        height: 40px;
        margin-left: 50px;
        padding: 0 10px;
        font-weight: 800;
        font-size: 18px;
        outline: none;
        border: none;
        background-color: $highlighted;
        cursor: pointer;
        option {
          background-color: $background-second;
          cursor: pointer;
        }
      }
      .assortment {
        flex: 1;
        display: grid;
        grid-template-rows: 20px 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
        margin: 0 20px;
      }
    }
  }
}
