@import '../../../scss/variables.scss';

.order_button {
  position: relative;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: -50px;
  left: 0;
  background-color: $highlighted;
  border: none;
  border-radius: 10px;
  &:active {
    filter: brightness(50%);
    transform: translateY(2px);
  }
  &:hover {
    img {
      right: 20px;
    }
    box-shadow: 0px 0px 30px $highlighted;
    transition: 0.2s ease-out;
  }
  img {
    position: absolute;
    top: 5px;
    right: 30px;
    transform: scaleX(-100%);
    transition: right 0.2s ease-out;
  }
}
.sending_order {
  box-shadow: 0px 0px 30px $highlighted;
  animation: buttonShining 2s ease-in-out infinite;
}

@keyframes buttonShining {
  0% {
    filter: brightness(100%);
    box-shadow: 0px 0px 30px $highlighted;
  }
  50% {
    filter: brightness(150%);
    box-shadow: 0px 0px 60px $highlighted;
  }
  100% {
    filter: brightness(100%);
    box-shadow: 0px 0px 30px $highlighted;
  }
}
