@import '../../../scss/variables.scss';

.links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  @media (max-width: 490px) {
    gap: 20px;
  }
  @media (max-width: 360px) {
    gap: 10px;
  }
}

.icon {
  cursor: pointer;
  filter: $iconShadow;
  width: 35px;
  height: 35px;
  &[alt='корзина'] {
    width: 50px;
    height: 50px;
  }
  @media (max-width: 360px) {
    width: 30px;
    height: 30px;
    &[alt='корзина'] {
      width: 40px;
      height: 40px;
    }
  }
}

.link {
  text-decoration: none;
}

.counter {
  position: absolute;
  top: 20px;
  left: 13px;
  text-align: center;
  border-radius: 50%;
  background-color: $highlighted;
  width: 20px;
  font-size: 14px;
}

.submenu_container {
  cursor: pointer;
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  place-content: start center;
  gap: 5px;
  font-weight: 800;
  background: $background-second;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.submenu_link {
  display: block;
  padding: 0 20px;
}

.submenu_link:hover {
  background-color: $text-second;
  color: $background-main;
}

.show {
  opacity: 1;
}
