@import '../../../scss/variables.scss';

.header_links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  @media (max-width: 490px) {
    gap: 20px;
  }
  a {
    text-decoration: none;
    span {
      position: absolute;
      top: 20px;
      left: 13px;
      text-align: center;
      border-radius: 50%;
      background-color: $highlighted;
      width: 20px;
      font-size: 14px;
    }
  }
  img[alt='корзина'] {
    width: 50px;
    height: 50px;
   
  }
  img[alt='профиль'] {
    width: 35px;
    height: 35px;
  }
  img[alt='меню'] {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}
